html{
    padding: 70px;
}

.btnCrear{
    justify-content: center;
    margin-top: 33px;
}

#btnCrear{
    width: 120px;
}

.border-class{
    border-radius: 3px;
    border:thin #cccccc solid;
    margin:30px;
    padding:30px;
    margin-top: unset;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    opacity: 0.9;
}

.container{
    margin-top: -41px;
}

h4{
    text-align: center;
    margin-bottom: 14px !important;
    color: #28a745;
}
.required {
    color: red;
    font-weight: 900;
}
html {
    background-image: url(../img/farm.jpg);
}
body {
    background-color: transparent;
}
form {
    background-color: white;
}
