* {
    font-size: 1rem !important;
}

.container {
    margin-top: 80px !important;
    width: 90%;
    background: white;
    opacity: 0.9;
    border-radius: 3px;
    border:thin #cccccc solid;

    margin-top: unset;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
        box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    opacity: 0.9;
}
h1 {
    text-align: center;
    font-weight: 700!important;
    font-size: 1.5rem !important;
    margin: 20px 0;
    border-bottom: 1px dashed #cccccc;
}
body{
    background: none;
}

html {
    background-image: url(../img/sunset.jpg);
}

.img-icon {
    height: 35px;
}