<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear proyecto</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="static/css/crearInforme.css" rel="stylesheet">
</head>

<body>
<div class="d-flex justify-content-center container">
    <form action="/guardarInforme" class="border-class" method="POST" data-toggle="validator">
        <h4 class="modal-title w-100 font-weight-bold" style="color: black;">Crear informe consolidado</h4>
        <div class="form-group row">
            <label for="info_name">Nombre</label> <label class="required">*</label>
            <input class="form-control" name="info_name" type="text" id="info_name" required>
        </div>
        <div class="form-group row">
            <label>Tipo de archivo </label><label class="required">*</label>
            <div class="col-10">
                <div class="form-check">
                    <div class="radio">
                        {% for file_type in types %}
                        <div class="radio-container">
                            <input type="radio" value="{{ file_type }}" name="file_type" checked>
                            <label for="file_type">{{ file_type }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="date_from">Fecha de inicio</label> <label class="required">*</label>
            <input class="form-control" name="date_from" type="date" id="date_from" required>
        </div>
        <div class="form-group row">
            <label for="date_to">Fecha de fin</label> <label class="required">*</label>
            <input class="form-control" name="date_to" type="date" id="date_to" required>
        </div>
        <div class="form-group row">
            <label for="send_to">Enviar a</label>
            <input class="form-control" name="send_to" type="text" id="send_to">
        </div>
        <div class="form-group row">
            <label for="url">Adjuntos</label>
            <input class="form-control" name="url" type="text" id="url">
        </div>
        <div class="form-group row btnCrear">
            <button type="submit" class="btn btn-success" id="btnCrear">Crear &#10151;</button>
        </div>
    </form>
</div>
</body>
</html>